services:
  app:
    image: ghcr.io/luftdaten-at/ttn-forwarder:latest
    container_name: ttnforwarder
    expose:
      - 80
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.ttnforwarder.entrypoints=https"
      - "traefik.http.routers.ttnforwarder.rule=(Host(`ttn.luftdaten.at`))"
      - "traefik.http.routers.ttnforwarder.tls=true"
      - "traefik.http.routers.ttnforwarder.tls.certresolver=http"
      - "traefik.http.routers.ttnforwarder.service=ttnforwarder"
      - "traefik.http.services.ttnforwarder.loadbalancer.server.port=80"
      - "traefik.docker.network=proxy"
      - "traefik.http.routers.ttnforwarder.middlewares=default@file"
    networks:
      - proxy
networks:
  proxy:
    external: true